body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #555;
}

.default {
	position: absolute;
	top: 0;
	left: 0;
}

.cat {
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

#border {
        display: block;
        width: $banner-width;
        height: $banner-height;
        pointer-events: none;
        outline: solid 1px #ccc;
        outline-offset: -1px;
        z-index: 999;
    }

#banner {
	background: #111;
    overflow: hidden;
    width: $banner-width;
    height: $banner-height;
    opacity: 0;

    #mask1b, #mask1c, #mask2b, #mask2c{
        visibility:hidden;
    }

    #img01 {
        visibility: visible;
    }

    #catContainer {
        top:30px;
        left: 280px;
        width: $banner-width;
        height: $banner-height;
    }


    .end-frame {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

    // #firstA {
    //     clip: rect(0px,203px,250px,0px);
    // }

    // #firstB {
    //     clip: rect(0px,300px,250px,203px);
    // }

    #button-exit {
        background-color: rgba(255, 255, 255, 0);
        cursor: pointer;
        height: 100%;
        width: 100%;
    }

    

    
}
